.in-progress-linear-gradient {
    background: linear-gradient(125.04deg, #632EE3 5.68%, #9F62F2 88.38%);
}

.resolved-linear-gradient {
    background: linear-gradient(90deg, #54CF68 9.6%, #00827A 92.23%);
}